export SPACELIFT_API_KEY_ENDPOINT="$(security find-generic-password -s codex.spacelift.api_key_endpoint -a "$USER" -w)"
export SPACELIFT_API_KEY_ID="$(security find-generic-password -s codex.spacelift.api_key_id -a "$USER" -w)"
export SPACELIFT_API_KEY_SECRET="$(security find-generic-password -s codex.spacelift.api_key_secret -a "$USER" -w)"
export SPACELIFT_STACK_ID="titaniumlips"
